*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: 700;
}
body{
  background-color: #073642;
}
header{
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
button{
  width: 5%;
  border-radius: .2rem;
  cursor: pointer;
  margin-right: 1rem;
}
button:hover{
  background-color: orange
}
select{
  width: 5%;
  padding: 5px;
  border-radius: 2px;
  margin-right: 1rem;
}
.app{
  width: 90vw;
  max-width: 90vw;
  min-height: 80vh;
  max-height: 100%;
  margin: 1rem auto;
  border: 2px solid #2aa198;
  margin: 0 auto;
}
.cards__container{
  display: flex;
  flex-wrap: wrap;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: .2rem;
  border: none;
  background-color: #b58900;
}
